<template>
  <div class="task-card my-style">
    <div>
      <h4>{{ model.title }}</h4>
      <p>{{ model.description }}</p>
    </div>
    <div>
      <button @click="emitOnDone" v-if="!model.status">Готово</button>
      <button @click="emitOnRemove" v-else>Удалить</button>
    </div>
  </div>
</template>

<script>
export default {
  emits: ['onDone', 'onRemove'],
  props: {
    model: {
      required: true,
      default: {
        id: 0,
        title: 'Create video',
        description: 'And upload on YouTube',
        status: false
      }
    }
  },
  setup(props, { emit }) {
    const emitOnDone = () => {
      emit('onDone')
    }

    const emitOnRemove = () => {
      emit('onRemove')
    }

    return {
      emitOnDone,
      emitOnRemove
    }
  }
}
</script>

<style scoped>
.task-card{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
  .task-card > div{
    display: flex;
    align-items: center;
  }
.task-card p{
  margin: 0 15px;
}
button{
  background-color: #12c0dd;
  border:none;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 15px;
  font-size: 12px;
  height: 100%;
  outline: none;
  transition: 0.2s;
  cursor: pointer;
}
button:hover{
  opacity: 0.8;
}
</style>