<template>
  <div class="task-input my-list">
    <input v-model="title" placeholder="Title" type="text">
    <input v-model="description" placeholder="Description" type="text">
    <button @click="onAddTask">Add  a new task</button>
  </div>
</template>

<script>
import { ref } from 'vue'

export default {
  emits: {
    onAddTask({ title, description }) {
      if(title === '' || description === '') {
        alert('Fill some info please!')
        return false
      }
      return true
    }
  },
  setup(props, { emit }) {
    const title = ref('')
    const description = ref('')

    const onAddTask = () => {
      emit('onAddTask', { title: title.value, description: description.value })
    }

    return {
      title,
      description,
      onAddTask
    }
  }
}
</script>

<style scoped>
input[type="text"]{
  height: 40px;
  border-radius: 0;
  margin-right: 15px;
  padding: 0 10px;
  text-indent: 10px;
  border: 1px solid #fff;
}
input[type="text"]:focus-visible{
  border: 1px solid rgba(51, 51, 51, 0.57);
  border-radius: 0;
}
button{
  background-color: #12c0dd;
  border:none;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 15px;
  font-size: 12px;
  height: 100%;
  outline: none;
  transition: 0.2s;
  cursor: pointer;
}
button:hover{
  opacity: 0.8;
}
</style>